@use 'config/fonts';
@use'config/colors';
@use 'sections/mission';
@use 'sections/whoami';
@use 'sections/contacts';

body {
    font-family: fonts.$mainFont;
    background-color: colors.$bgColor;
}

.title {
    font-weight: 300;
    color: colors.$textColor;
    border-bottom: 1px solid colors.$secColor;
}

.nav-pills {

    .nav-link.active {
        background-color: colors.$bgBtn;
    }
    
    .nav-link {
        color: colors.$textColor;
    }
}

#main {
    margin: 10px;
    padding: 10px;
    background-color: #303030;
    height: 100%;
    border-radius: 10px;
}

@media screen and (min-width:1024px) {
    body {
        overflow: hidden;
    }

    aside {
        display: flex;
        
        nav {
            margin-top: 190px;
        }

    }

    #main {
        height: 550px;
    }

    .sub-title {
        margin-top: 120px;
        border-bottom: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    aside {
        display: flex;
        
        nav {
            margin-top: 90px;

            .nav-link {
                font-size: 15px;
            }
        }

    }

    #main {
        height: 450px;
    }

    .sub-title {
        margin-top: 40px;
        border-bottom: none;
    }
}